$primary: #1698D9;         // default
$primary-hover: #2ea8e6;   // default hover
$selected: #d91667;        // selected
$selected-hover: #e62e7a;  // selected hover
$disable: #B3B3B3;         // disable
